
.profile-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-bottom: 10px;
    max-width: 1200px;
    min-width: 1200px;
    background-color: #a9c2e8; /*Color contrast against black text: https://webaim.org/resources/contrastchecker/?fcolor=A9C2E8&bcolor=111111*/
}

.card-content {
    display: flex;
    align-items: center; 
    gap: 15px; 
}

.profile-image {
    width: 150px; 
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-info {
    flex: 1;
}

p {
    font-size: 15px;
}

