
header {
    padding: 0;
    background-color: #1f1f1f;
}

a {
    color: white;
}

.button:hover {
    background-color: #e6e6fa; /*Contrast against text color: https://webaim.org/resources/contrastchecker/?fcolor=1F1F1F&bcolor=E6E6FA*/
    color: #1f1f1f;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav {
    text-align: right;
    padding-top: 20px;
    padding-right: 10px;
}

a {
    list-style-type: none;
    display: block;
}

a.logo {
    font-weight: bold;
    padding: 1em;
}

a {
    text-decoration: none;
    padding: 30px 25px;
    text-align: center;
    display: inline-block;
}

.button {
    border-radius: 150px;
    padding: 15px 25px;
    background-color: #422d4d; /*Contrast against white text: https://webaim.org/resources/contrastchecker/?fcolor=422D4D&bcolor=FFFFFF*/
}