<main>
    <h1>About the Developers!</h1>
    <section class="profile-card-grid">
        <app-profile-card 
            [name]="'Brenna Wolf'" 
            [description]="'Description Here'" 
            [picturePath]="'brenna_image.jpg'">
        </app-profile-card>
        <app-profile-card 
            [name]="'Erin Taketa'" 
            [description]="'Description Here'" 
            [picturePath]="'photo path here'">
        </app-profile-card>
        <app-profile-card 
            [name]="'Daja Ferrer'" 
            [description]="'Description Here'" 
            [picturePath]="'photo path here'">
        </app-profile-card>
        <app-profile-card 
            [name]="'Hannah Shawver'" 
            [description]="'Description Here'" 
            [picturePath]="'photo path here'">
        </app-profile-card>
    </section>
</main>
