<main>
    <h1>About the Developers!</h1>
    <section class="profile-card-grid">
        <app-profile-card 
            [name]="'Brenna Wolf'" 
            [description]="'I am a senior at Colorado State University majoring in Computer Science with a minor in Mathematics. I had a unique introduction to this department, as I came in as a double major in Art and Math freshman year. Having taken a computer science class in high school, I had told myself I never wanted to do that again, however after I was required to take an intro programming class for my math major, I was reintroduced to the field and ended up loving it. Combining both the problem solving and creative aspects I loved about math and art, this major ended up being the perfect fit for me. I have yet to regret my decision to fully commit to Computer Science and am excited to see where this degree takes me post graduation!'" 
            [picturePath]="'brenna_image.jpg'">
        </app-profile-card>
        <app-profile-card 
            [name]="'Erin Taketa'" 
            [description]="'I am a senior majoring in Computer Science with a concentration in Networks and Security at CSU graduating in May. I am a little nervous about being a real adult but excited about what is to come nonetheless. I am originally from Maui and moved to Colorado to go to college and experience the seasons. Once I got here, I realized I do not like winter. Eventually, I would love to move back to settle down. In my free time, I like to read and do outdoor activites.'" 
            [picturePath]="'erin_image.jpg'">
        </app-profile-card>
        <app-profile-card 
            [name]="'Daja Ferrer'" 
            [description]="'I am a senior Computer Science major graduating in December. I started university as a Fashion Design major at Baylor but quickly realized I did not particularly love sewing. I have always loved math and problem solving so from day 1 of my first CS class I was hooked. I am currently a frontend engineer at a commercial real estate startup and am also working on a startup of my own called Marie.'" 
            [picturePath]="'daja_image.jpg'">
        </app-profile-card>
        <app-profile-card 
            [name]="'Hannah Shawver'" 
            [description]="'I am a junior at Colorado State University majoring in Computer Science. I might be dropping out at some point to kickstart my photograpy business. I was born and raised here in northern Colorado. I like biking and I am currently working on a Sci-Fi novel.'" 
            [picturePath]="'hannah_image.jpg'">
        </app-profile-card>
    </section>
</main>
