.profile-card-grid {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    padding: 20px 0; 
}

main {
    padding-top: 25px;
    background-color: #1f1f1f; /*Color contrast with h1: https://webaim.org/resources/contrastchecker/?fcolor=1F1F1F&bcolor=D2ADF4*/
}
  
h1 {
    text-align: center;
    color: #d2adf4;
}