<main>
    <h1>About the Developers!</h1>
    <section class="profile-card-grid">
        <app-profile-card 
            [name]="'Brenna Wolf'" 
            [description]="'I am a senior at Colorado State University majoring in Computer Science with a minor in Mathematics. I had a unique introduction to this department, as I came in as a double major in Art and Math freshman year. Having taken a computer science class in high school, I had told myself I never wanted to do that again, however after I was required to take an intro programming class for my math major, I was reintroduced to the field and ended up loving it. Combining both the problem solving and creative aspects I loved about math and art, this major ended up being the perfect fit for me. I have yet to regret my decision to fully commit to Computer Science and am excited to see where this degree takes me post graduation!'" 
            [picturePath]="'brenna_image.jpg'">
        </app-profile-card>
        <app-profile-card 
            [name]="'Erin Taketa'" 
            [description]="'Description Here'" 
            [picturePath]="'image path here'">
        </app-profile-card>
        <app-profile-card 
            [name]="'Daja Ferrer'" 
            [description]="'Description Here'" 
            [picturePath]="'image path here'">
        </app-profile-card>
        <app-profile-card 
            [name]="'Hannah Shawver'" 
            [description]="'Description Here'" 
            [picturePath]="'image path here'">
        </app-profile-card>
    </section>
</main>
