<main>
<h1 class="no-print">Color Coordinate</h1>
<form (ngSubmit)="formSubmit()" #form="ngForm" class="no-print">
    <div class="form">
    <label for="rows">Number of Rows:</label><input 
        type="number"
        id="rows"
        name="rows"
        class="form-control"
        [max]="1000"
        [min]="1"
        required 
        [(ngModel)]="numRows"
        #rows="ngModel">
    
    <label for="cols">Number of Columns:</label><input 
        type="number" 
        id="cols" 
        name="cols" 
        class="form-control" 
        [max]="702"
        [min]="1"
        required 
        #cols="ngModel"
        [(ngModel)]="numCols">

    <label for="colors">Number of Colors:</label><input 
    type="number" 
    id="colors" 
    name="colors" 
    class="form-control" 
    [max]="10"
    [min]="1"
    required 
    #colors="ngModel"
    [(ngModel)]="numColors">

    <div class="submit"><input type="submit" [disabled]="form.invalid" class="button"></div>

    </div>

    <div *ngIf="rows.invalid && (rows.touched)">
        <div *ngIf="rows.hasError('max') || rows.hasError('min')" class="error">
            *Rows must be at least 1 or at most 1000.
      </div>
      <div *ngIf="rows.hasError('required')" class="error">
          *Rows field is required.
    </div>
  </div>

    <div *ngIf="cols.invalid && (cols.touched)">
        <div *ngIf="cols.hasError('max') || cols.hasError('min')" class="error">
            *Columns must be at least 1 or at most 702.
      </div>
      <div *ngIf="cols.hasError('required')" class="error">
          *Columns field is required.
    </div>
  </div>

    <div *ngIf="colors.invalid && (colors.touched)">
        <div *ngIf="colors.hasError('max') || colors.hasError('min')" class="error">
            *Colors must be at least 1 or at most 10.
      </div>
      <div *ngIf="colors.hasError('required')" class="error">
          *Colors field is required.
    </div>
  </div>
</form>


<div class="table-top" *ngIf="showColorTable && !print">
    <table id="colorTable" >
            <tr *ngFor="let row of radioRows; let i = index">
              <td style="width: 20%; vertical-align: top;">
                <div style="display: flex; align-items: center; gap: 8px;">
                  
                  <mat-radio-group [(ngModel)]="selectedRadioIndex">
                    <mat-radio-button 
                      class="example-radio-button" 
                      [value]="i"
                      (click)="selectedColor=row.color">
                    </mat-radio-button>
                  </mat-radio-group>
             
                  <mat-form-field style="max-width: 120px; font-size: 12px;">
                    <mat-select [ngModel]="row.color" (selectionChange)="onDropdownChange(i, $event.value)" [value]="row.color">
                        <mat-option *ngFor="let colorDropDown of colorSelection" [value]="colorDropDown.value" [disabled]="isColorUsed(colorDropDown.value)">
                          {{ colorDropDown.viewValue }}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </td>
              <td style="width: 80%; vertical-align: top;">
                 <p>{{ radioRows[i].coloredCells.join(', ') }}</p>
              </td>
            </tr>
    </table>
</div>

<div *ngIf="print">
    <table>
        <tr *ngFor="let item of radioRows">
            <td style="width: 20%; vertical-align: top;">
            {{ item.color }}
            </td>
            <td style="width: 80%; vertical-align: top;">
              <p>{{ item.coloredCells.join(', ') }}</p>
            </td>
        </tr>
    </table>
</div>

<paint-table *ngIf="showPaintTable" [numRows]="numRows" [numCols]="numCols" [selectedColor]="selectedColor" [filledCells]="filledCells" [radioRows]="radioRows" [activeRadioIndex]="selectedRadioIndex"></paint-table>

<div class="no-print">
    <button class='print-button' (click)="printPage()">Print Coloring Page</button>
</div>

</main>

