<form (ngSubmit)="formSubmit()" #form="ngForm" class="form_style">
    <label for="rows">Number of Rows</label><input 
        type="number"
        id="rows"
        name="rows"
        class="form-control"
        [max]="1000"
        [min]="1"
        required 
        [(ngModel)]="numRows"
        #rows="ngModel">
    
        <div *ngIf="rows.invalid && (rows.touched)">
              <div *ngIf="rows.hasError('max') || rows.hasError('min')" class="error">
                  Rows must be at least 1 or at most 1000.
            </div>
            <div *ngIf="rows.hasError('required')" class="error">
                Rows field is required.
          </div>
        </div>
    <label for="cols">Number of Columns</label><input 
        type="number" 
        id="cols" 
        name="cols" 
        class="form-control" 
        [max]="702"
        [min]="1"
        required 
        #cols="ngModel"
        [(ngModel)]="numCols">

        <div *ngIf="cols.invalid && (cols.touched)">
            <div *ngIf="cols.hasError('max') || cols.hasError('min')" class="error">
                Columns must be at least 1 or at most 702.
          </div>
          <div *ngIf="cols.hasError('required')" class="error">
              Columns field is required.
        </div>
      </div>

    <label for="colors">Number of Colors</label><input 
    type="number" 
    id="colors" 
    name="colors" 
    class="form-control" 
    [max]="10"
    [min]="1"
    required 
    #colors="ngModel"
    [(ngModel)]="numColors">

    <div *ngIf="colors.invalid && (colors.touched)">
        <div *ngIf="colors.hasError('max') || colors.hasError('min')" class="error">
            Colors must be at least 1 or at most 10.
      </div>
      <div *ngIf="colors.hasError('required')" class="error">
          Colors field is required.
    </div>
  </div>

  <br>

    <input type="submit" [disabled]="form.invalid" class="submit">
</form>

<table id="colorTable"></table>
<paint-table *ngIf="showPaintTable" [numRows]="numRows" [numCols]="numCols"></paint-table>
