* {
    margin: auto;
}

h1 {
    color: #d2adf4;
    text-align: center;
    padding-bottom: 20px;
}

table {
    width: 82%;
    background-color: lavender;
    border-radius: 15px;
}

.table-top {
    padding-top: 25px;
}

main {
    padding-top: 25px;
    padding-bottom: 500px;
    background-color: #1f1f1f;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

td:first-child {
    width: 20%;
}

td:last-child {
    width: 80%;
}

form {
    width: 80%;
    text-align: center;
    background-color: lavender;
    padding: 15px;
    border-radius: 15px;
}

.form {
    display: flex;
}

form label {
    padding-left: 10px;
}

form input {
    width: 65px;
    border-radius: 15px;
    border-color: #422d4d;
    /* background-color: #422d4d;
    color: lavender; */
    padding: 10px;
}

.button {
    padding: 10px;
    border-radius: 15px;
    border-style: none;
    background-color: #422d4d;
    color: lavender;
    font-size: 15px;
    scale: 1.1;
}

.print-button {
    position:absolute;
    bottom: 20px;    
    right: 20px;
    padding: 10px;
    border-radius: 15px;
    border-style: none;
    background-color: lavender;
    color: #422d4d;
    font-size: 15px;
    scale: 1.1;
}

.error {
    color:red;
    font-size: 12px;
    text-align: center;
    display: block;
    padding-top: 10px;
}

@media print {
    /* Apply grayscale filter to the entire body */
    main {
      filter: grayscale(100%);
    }

    .no-print {
        display: none !important; 
    }
  }
  

  