<main>
    <h1>Color Selection</h1>
    <div class="forms-container">
        <!-- Add a Color -->
        <div class="form-container">
            <div class="title"><b>Add a Color</b></div>
            <form #Add (ngSubmit)="AddColor()" #form="ngForm">
                <div class="form">
                    <div class="form-group">
                        <label for="color">Color Name: </label> <input 
                        type="text" 
                        (keydown)="blockSpaces($event)"
                        id="color" 
                        name="color" 
                        class="form-control"
                        required
                        [(ngModel)]="color"
                        #colors="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="hex">Hex Value: </label> <input 
                        type="text" 
                        id="hex" 
                        name="hex" 
                        class="form-control"
                        required
                        [(ngModel)]="hex"
                        #hex_val="ngModel">
                    </div>
                    <input type="submit" [disabled]="form.invalid" class="button">
                </div>
            </form>
            <div *ngIf="colors.invalid && (colors.touched)">
                <div *ngIf="colors.hasError('required')" class="error">
                    *Color field is required.
                </div>
            </div>
            <div *ngIf="hex_val.invalid && (hex_val.touched)">
                <div *ngIf="hex_val.hasError('required')" class="error">
                    *Hex field is required.
                </div>
            </div>
            <div class="success" *ngIf="success">
                Color was successfully inserted!
            </div>
            <div class="error" *ngIf="error">
                Entry could not be added to the table - ensure values entered are not already present in the database
            </div>
        </div>
        
        <!-- Edit a Color -->
        <div class="form-container">
            <div class="title"><b>Edit a Color</b></div>
            <form #Edit="ngForm" (ngSubmit)="EditColor()">
                <div class="form">
                    <label for="editColor">Current Color Name: </label>
                    <input
                        type="text"
                        id="editColor"
                        name="editColor"
                        class="form-control"
                        required
                        [(ngModel)]="editColor"
                        #editColorField="ngModel">
            
                    <label for="newColor">New Color Name (optional): </label>
                    <input
                        type="text"
                        id="newColor"
                        name="newColor"
                        class="form-control"
                        [(ngModel)]="newColor">
                    
                    <label for="newHex">New Hex Value (optional): </label>
                    <input
                        type="text"
                        id="newHex"
                        name="newHex"
                        class="form-control"
                        [(ngModel)]="newHex">
                        
            
                    <input type="submit" [disabled]="Edit.invalid" class="button">    
                </div>
            </form>
            <div *ngIf="editColorField.invalid && (editColorField.touched)">
                <div *ngIf="editColorField.hasError('required')" class="error">
                    *Current color name is required.
                </div>
            </div>  
            
            <div class="success" *ngIf="editSuccess">
                Color was successfully updated!
            </div>
            <div class="error" *ngIf="editError">
                Update failed - Make sure the original color exists and the new name and hex do not conflict.
            </div>
        </div>

        <!-- Delete a Color -->
        <div class="form-container">
            <div class="title"><b>Delete a Color</b></div>
            <form (ngSubmit)="DeleteColor(deleteForm)" #deleteForm="ngForm">
                <div class="form">
                    <div class="form-group">
                        <label for="deleteColor">Color Name:</label> 
                        <input 
                            type="text" 
                            id="deleteColor" 
                            name="deleteColor" 
                            class="form-control"
                            required
                            [(ngModel)]="deleteColor"
                            #deleteColorField="ngModel"
                        >
                    </div>
                    <button type="submit" id="deleteButton" [disabled]="deleteColorField.invalid" class="button">Delete</button>
                </div>
            </form>
            <div *ngIf="numCurrentColors === 2" class="non-intrusive">
                Heads up! You only have {{numCurrentColors}} colors left.
            </div>
            <div class="success" *ngIf="deleteSuccess">
                Color was successfully deleted!
            </div>
            <div class="error" *ngIf="deleteError">
                {{deleteErrorMsg}}
            </div>
        </div>
    </div>
    
</main>